.header__nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__nav-container {
    padding-right: 36px;
  }
}

@media (max-width: 768px) {
  .header__nav-container {
    display: none;
  }
}
