.error {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  max-width: 480px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  /* align-items: flex-start; */
}

.error__header {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-size: 48px;
  margin-bottom: 16px;
}

.error__paragraph {
  text-align: center;
  margin: 0;
  margin-bottom: 78px;
}

.error__link {
  color: inherit;
  transition: opacity 0.3s ease;
}

.error__link:hover {
  opacity: 0.6;
}
