.header__hamburger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 24px;
  height: 24px;
  padding: 0;
}

.header__hamburger:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .header__hamburger {
    display: flex;
    margin-right: 36px;
  }
}

@media (max-width: 480px) {
  .header__hamburger {
    margin-right: 20px;
  }
}
