.auth__button {
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
  padding: 14px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin-bottom: 16px;
}

.auth__button:hover {
  opacity: 0.85;
}

@media (max-width: 768px) {
  .auth__button {
    margin-bottom: 20px;
  }
}
